/* Body */

body{
	background-image:url(asset/background.jpg);
	}


/* Interface */

#section_interface{
	background-color: black;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: space-around;
}

.section_perso{
	display: flex;
	justify-content: center;
}

.section_monstre{
	display: flex;
	justify-content: center;
}


/* Box */

.perso{
	background-color: #C8A29A;
	border: 3mm ridge #E3DFDE;
	padding: 10px;
}

.monstre{
	background-color: #C8A29A;
	background-image:url(asset/monstre.PNG);
	border: 3mm ridge #E3DFDE;
	padding: 10px;
}


/* Texts */

.noms{
	font-size: 25px;
	font-family: Gill Sans, sans-serif;
}

.ligne{
	font-size: 25px;
	color:#E3DFDE
}

.point_de_vie{
	font-size: 25px;
	font-family: Gill Sans, sans-serif;
}

.mana{
	font-size: 25px;
	font-family: Gill Sans, sans-serif;
}

.niveau{
	font-size: 25px;
	font-family: Gill Sans, sans-serif;
}